

@mixin default-text-color ($tc: $text-color) {
  color: $tc;
}

@mixin default-text-color ($tc: $text-color) {
  color: $tc;
}

@mixin gradient ($grad) {
  background: rgba(14,49,71,1);
  background: -moz-linear-gradient(top, rgba(14,49,71,1) 0%, rgba(14,49,71,1) 37%, rgba(9,40,62,1) 59%, rgba(0,24,45,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,49,71,1)), color-stop(37%, rgba(14,49,71,1)), color-stop(59%, rgba(9,40,62,1)), color-stop(100%, rgba(0,24,45,1)));
  background: -webkit-linear-gradient(top, rgba(14,49,71,1) 0%, rgba(14,49,71,1) 37%, rgba(9,40,62,1) 59%, rgba(0,24,45,1) 100%);
  background: -o-linear-gradient(top, rgba(14,49,71,1) 0%, rgba(14,49,71,1) 37%, rgba(9,40,62,1) 59%, rgba(0,24,45,1) 100%);
  background: -ms-linear-gradient(top, rgba(14,49,71,1) 0%, rgba(14,49,71,1) 37%, rgba(9,40,62,1) 59%, rgba(0,24,45,1) 100%);
  background: linear-gradient(to bottom, rgba(14,49,71,1) 0%, rgba(14,49,71,1) 37%, rgba(9,40,62,1) 59%, rgba(0,24,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3147', endColorstr='#00182d', GradientType=0 );}

@mixin image ($icon){
  background-image: url("../images/drawer_icon.png");
  background-repeat: no-repeat;
  background-position: right;
}

@mixin drop-down ($drop) {
  -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;  /*REMOVES BORDER*/
  background-color: $button-background;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 6px;
  padding: 6px 34px 6px 12px;
  cursor: pointer;
  font-family: $roboto;
  font-weight: 300;
  font-size: 12px;
  margin-right: 4px;
  margin-left: -2px;
}

@mixin left-nav-buttons ($butt) {
  background-color: none;
  clear: left;
  color: $text-color;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  padding: 3px 0;
  text-transform: none;
  font-size: 12px;
  font-weight: 300;

  &:hover, &:focus {
    color: $button-hover-cyan;

  }
}

@mixin inline-buttons ($butt) {
  //background-color: none;
  //color: #2d9be0;
  font-size: 12px;
  font-weight: 300;
  color: $button-hover-cyan;
}

@mixin tab-buttons ($tab) {
  background-color: #00182d;
  border: 0;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 28px;
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: auto;
  padding: 6px 16px 20px;

  -webkit-transition: background 0.25s ease-in;
  -moz-transition: background 0.25s ease-in;
  -o-transition: background 0.25s ease-in;
  -ms-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;

  &:hover {
    background-color: $button-hover-cyan;
    color: #FFFFFF;
  }
}

@mixin content-area ($box) {
  min-height: 550px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: #FFFFFF;
  border-radius: 4px;
}

@mixin contact-icon ($icon) {
  width: auto;
  height: auto;
  padding-right: 4px;
}

@mixin conversation-button {
  border-radius: 24px;
  cursor: pointer;
  float: right;
  font-weight: 300;
  padding: 8px 18px;
  margin: 0 0 8px 2px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin benefit-drilldown ($main) {

  .benefit-details-tile-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .benefit-details-provider-name {
    background-color: $darkest-blue;
    padding: 0 24px 20px;
    color: #FFFFFF;
    line-height: 16px;
    font-size: 12px;
  }

  .benefit-details-plan-name {
    background-color: $darkest-blue;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    padding: 20px 24px 0 24px;
  }

  .benefit-details-title {
    background-color: $header-background;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100;
    line-height: 55px;
    padding: 0 16px;
  }

  .benefit-details-tile {
    background-color: $benefit-tile-background;
    border-bottom: 2px $darkest-blue solid;
    color: #FFFFFF;
    font-size: 12px;
  }
//
//  .benefit-details-tile-tiered {
//    background-color: $benefit-tile-background;
//    color: #FFFFFF;
//    font-size: 12px;
//  }

  .benefit-details-expert-panel {
    background-color: $page-title-gray;
    .benefit-details-expert-panel-title {
      font-size: 15px;
      font-weight: 500 !important;
      margin-left: 9px;
    }
    .benefit-panel-expert-panel-detail {
      margin-left: 9px;
    }
  }
}

